<%= render "shared/header" %>

<!-- <div class="zoom">
  <section class="bg-image-1 bg-img-style-1 mt-60-sm">
    <div class="py-50 py-30-sm">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-5">
            <h1 class="text-style-1 black fs-55 fs-35-sm">Become a Partner</h1>
            <div class="mt-30 mt-20-sm">
              <p class="text-style-4 fs-16 grey-1 pr-80-sm">
              Join MOSIP’s global ecosystem to drive digital transformation and meet the world’s evolving needs.
              </p>
            </div>
            <div class="mt-50 mt-30-sm">
              <button class="btn btn-style-2 fs-14">
                MOSIP PARTNER PROGRAM
              </button>
            </div>
          </div>
          <div class="col-lg-8 col-md-7 mt-15-sm">
            <div>
              <img src="../images/home/home-img-1.png" alt="home-img-1" class="w-100p" loading="lazy">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="bg-blue-2 py-50 py-30-sm">
      <div class="container">
        <div class="text-center">
          <h3 class="text-style-2 fs-30 fs-18-sm white">Partner Categories</h3>
          <div class="mt-50 mt-30-sm">
            <div class="row">
              <div class="col-md-4 col-4">
                <div>
                  <img src="../images/home/tech-cat-1.png" alt="tech-1" class="w-40p w-70p-sm" loading="lazy">
                </div>
                <div class="mt-30 mt-20-sm">
                  <div class="text-style-1 fs-25 fs-14-sm yellow-1">
                    <%= link_to partners_path, class: "yellow-1 link-hover-effect" do %>
                      <u>MOSIP Compliant</u>
                    <% end %>
                  </div>

                </div>
                <div class="mt-30 mt-20-sm">
                  <div class="text-style-3 fs-16 fs-10-sm white">
                    Products that have completed a self-compliance exercise against MOSIP’s specifications.
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-4">
                <div>
                  <img src="../images/home/tech-cat-2.png" alt="tech-2" class="w-40p w-70p-sm" loading="lazy">
                </div>
                <div class="mt-30 mt-20-sm">
                  <div class="text-style-1 fs-25 fs-14-sm yellow-1">
                    <%= link_to partners_path, class: "yellow-1 link-hover-effect" do %>
                    <u>MOSIP Integrated</u>
                    <% end %>
                  </div>
                </div>
                <div class="mt-30 mt-20-sm">
                  <div class="text-style-3 fs-16 fs-10-sm white">
                    A product or solution that has demonstrated the ability to work with MOSIP systems.
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-4">
                <div>
                  <img src="../images/home/tech-cat-3.png" alt="tech-3" class="w-40p w-70p-sm" loading="lazy">
                </div>
                <div class="mt-30 mt-20-sm">
                  <div class="text-style-1 fs-25 fs-14-sm yellow-1">
                  <%= link_to partners_path, class: "yellow-1 link-hover-effect" do %>
                    <u>MOSIP SI Partner</u>
                  <% end %>
                  </div>
                </div>
                <div class="mt-30 mt-20-sm">
                  <div class="text-style-3 fs-16 fs-10-sm white">
                    SI entities that have completed training and capacity-building exercises through the MOSIP Partner Programme.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-50 py-30-sm">
    <div class="container">
      <h1 class="text-style-2 fw-300 fs-80 fs-35-sm">Initiatives for Technology Partners</h1>
      <div class="mt-50 mt-30-sm">
        <div class="row">
          <div class="col-lg-4">
            <div class="border-grey-4 br-20 p-30">
              <div class="text-style-6 lh-normal">
                  01.
              </div>
              <div class="mt-20 mt-10-sm">
                <div class="text-style-2 fs-22 fs-18-sm green lh-normal partner-h1">
                  MOSIP Partner Programme
                </div>
              </div>
              <div class="mt-20 mt-10-sm">
                <div class="text-style-3 fs-16 fs-14-sm partner-h2">
                  A training and capacity-building programme for System Integrators, initiated to help stakeholders connect with MOSIP,
                  and become part of a cohesive ecosystem.
                </div>
              </div>
              <div class="mt-50 mt-30-sm">
                <button class="btn btn-style-2 fs-14">
                  Download PDF <span class="ml-2"><img src="../images/partner/pdf-1.png" width="15"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mt-15-sm mt-20-md">
            <div class="border-grey-4 br-20 p-30">
              <div class="text-style-6 lh-normal">
                02.
              </div>
              <div class="mt-20 mt-10-sm">
                <div class="text-style-2 fs-22 fs-18-sm green lh-normal partner-h1">
                  MOSIP Advanced Compliance Programme (MACP)
                </div>
              </div>
              <div class="mt-20 mt-10-sm">
                <div class="text-style-3 fs-16 fs-14-sm partner-h2">
                  A partnership between MOSIP and multiple labs to certify compliant biometric devices and solutions
                </div>
              </div>
              <div class="mt-50 mt-30-sm">
                <button class="btn btn-style-2 fs-14">
                  Download PDF <span class="ml-2"><img src="../images/partner/pdf-1.png" width="15"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mt-15-sm mt-20-md">
            <div class="border-grey-4 br-20 p-30">
              <div class="text-style-6 lh-normal">
                03.
              </div>
              <div class="mt-20 mt-10-sm">
                <div class="text-style-2 fs-22 fs-18-sm green lh-normal partner-h1">
                  Compliance Exercise
                </div>
              </div>
              <div class="mt-20 mt-10-sm">
                <div class="text-style-3 fs-16 fs-14-sm partner-h2">
                  An assisted compliance programme for technology partners to ensure compliance against MOSIP’s standard specifications.
                </div>
              </div>
              <div class="mt-50 mt-30-sm">
                <button class="btn btn-style-2 fs-14">
                  Download PDF <span class="ml-2"><img src="../images/partner/pdf-1.png" width="15"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-50 py-30-sm benefits-container">
    <div class="container">
      <h1 class="text-style-2 fw-300 fs-80 fs-35-sm">Benefits</h1>
      <div class="mt-30 mt-10-sm">
        <div class="row">
          <div class="col-md-10">
            <div class="text-style-2 fs-20 fs-14-sm grey-1">
              Partnering with MOSIP opens the door to a comprehensive array of benefits, offering a collaborative journey towards
              innovation and growth.
            </div>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
      <div class="mt-50 mt-30-sm">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="text-style-6">
              01.
            </div>
            <div class="mt-15 mt-10-sm">
              <div class="text-style-2 fs-22 fs-18-sm green lh-normal">
                Build on MOSIP
              </div>
            </div>
            <div class="mt-20 mt-10-sm">
              <ul>
                <li>Access to MOSIP Engineers and Community</li>
                <li>Tailor-made training Programmes</li>
                <li>Access to Sandbox and test environments</li>
                <li>Tools Kits, sample codes and utilities</li>
                <li>Compliance Programmes</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="">
              <img src="../images/benefits/benefits-1.jpg" class="w-100p" alt="benefit-1" loading="lazy">
            </div>
          </div>
        </div>
      </div>
      <div class="mt-50 mt-30-sm">
        <div class="row align-items-center">
          <div class="col-md-6 d-none-sm">
            <div class="">
              <img src="../images/benefits/benefits-2.jpg" class="w-100p" alt="benefit-2" loading="lazy">
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex-lg d-block-sm align-items-center justify-content-center">
              <div>
                <div class="text-style-6">
                  02.
                </div>
                <div class="mt-15 mt-10-sm">
                  <div class="text-style-2 fs-22 fs-18-sm blue-1 lh-normal">
                    Enhance Visibility
                  </div>
                </div>
                <div class="mt-20 mt-10-sm">
                  <ul>
                    <li>
                      Showcase Solutions 
                      <ul>
                        <li>Marketplace</li>
                        <li>Experience Centres</li>
                        <li>Mosip Communication Channels</li>
                        <li>PR/Marketing</li>
                      </ul>
                    </li>
                    <li>Participate in Pilots</li>
                    <li>Workshops and Webinars</li>
                    <li>Exclusive invites to MOSIP events</li>
                    <li>Blogs/Whitepapers</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-block-sm d-none-lg">
            <div class="">
              <img src="../images/benefits/benefits-2.jpg" class="w-100p" alt="benefit-2" loading="lazy">
            </div>
          </div>
        </div>
      </div>
      <div class="mt-50 mt-30-sm">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="text-style-6">
              03.
            </div>
            <div class="mt-15 mt-10-sm">
              <div class="text-style-2 fs-22 fs-18-sm red lh-normal">
                Contribute
              </div>
            </div>
            <div class="mt-20 mt-10-sm">
              <ul>
                <li>Code Contribution</li>
                <li>Help define the roadmap</li>
                <li>Create standards (ieee/QR code for example)</li>
                <li>Participate in PoCs and evaluation programmes</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="">
              <img src="../images/benefits/benefits-1.jpg" class="w-100p" alt="benefit-1" loading="lazy">
            </div>
          </div>
        </div>
      </div>
      <div class="mt-50 mt-30-sm">
        <div class="row align-items-center">
          <div class="col-md-6 d-none-sm">
            <div class="">
              <img src="../images/benefits/benefits-2.jpg" class="w-100p" alt="benefit-2" loading="lazy">
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex-lg d-block-sm align-items-center justify-content-center">
              <div>
                <div class="text-style-6">
                  04.
                </div>
                <div class="mt-15 mt-10-sm">
                  <div class="text-style-2 fs-22 fs-18-sm orange lh-normal">
                    Collaborate
                  </div>
                </div>
                <div class="mt-20 mt-10-sm">
                  <ul>
                    <li>With Countries</li>
                    <li>With Academia</li>
                    <li>With Multilateral Agencies.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-none-lg d-block-sm">
            <div class="">
              <img src="../images/benefits/benefits-2.jpg" class="w-100p" alt="benefit-2" loading="lazy">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-50 mt-30-sm">
    <div class="py-50 py-30-sm bg-grey-2">
      <div class="container">
        <div class="text-center text-style-4 fs-16 black">
          MOSIP technology is developed with the understanding that technology solutions cannot be static. The support team at
          MOSIP offers concerted capacity-building to ensure that, over a period of time, country partners are equipped to adapt
          and modify their national ID technology in a way that can be dynamic to changing environments.
        </div>
        <div class="mt-50 mt-30-sm">
          <div class="">
            <img src="../images/benefits/benefits-3.jpg" class="w-100p" alt="benefit-2" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-image-2 bg-img-style-1 mb-15em">
    <div class="py-50 py-30-sm">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="mt-50 mt-30-sm text-center-sm">
              <div class="text-style-2 fs-80 fs-35-sm white" style="line-height: 0.9;">
                Write <br> to us!
              </div>
              <div class="mt-30 mt-20-sm">
                <a href="mailto:info@mosip.io" class="">
                  <div class="text-style-2 yellow fs-18">
                    info@mosip.io
                  </div>
                </a>
              </div>
              <div class="mt-30 mt-20-sm">
                <div class="text-style-3 fs-16 fs-10-sm white">
                  26/C, Electronic City, Hosur <br> Road, Bangalore - 560100
                </div>
              </div>
              <div class="mt-30 mt-20-sm">
                <a href="tel:+918041407777">
                  <div class="text-style-3 fs-16 fs-10-sm white">
                    +91 8041407777
                  </div>
                </a>
              </div>
              <div class="mt-30 mt-20-sm">
                <div class="text-style-3 fs-16 fs-10-sm white">
                  Visit <span><a href="www.mosip.io"><spam class="text-style-2 yellow fs-16">www.mosip.io</span></a></span> for more details
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-20-sm">
            <div class="position-absolute-md position-relative-sm">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div> -->

<div class="zoom">
  <section class="bg-blue-2">
    <div class="py-50 py-30-sm mt-20-sm">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="mt-50 mt-30-sm text-center-sm">
              <div class="text-style-2 fs-80 fs-35-sm white" style="line-height: 0.9;">
                Write <br> to us!
              </div>
              <div class="mt-30 mt-20-sm">
                <a href="mailto:info@mosip.io" class="">
                  <div class="text-style-2 yellow fs-18">
                    info@mosip.io
                  </div>
                </a>
              </div>
              <div class="mt-30 mt-20-sm">
                <div class="text-style-3 fs-16 fs-10-sm white">
                  26/C, Electronic City, Hosur <br> Road, Bangalore - 560100
                </div>
              </div>
              <div class="mt-30 mt-20-sm">
                <a href="tel:+918041407777">
                  <div class="text-style-3 fs-16 fs-10-sm white">
                    +91 8041407777
                  </div>
                </a>
              </div>
              <div class="mt-30 mt-20-sm">
                <div class="text-style-3 fs-16 fs-10-sm white">
                  Visit <span><a href="www.mosip.io">
                      <spam class="text-style-2 yellow fs-16">www.mosip.io</span></a></span> for more details
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-20-sm">
            <div class="position-absolute-md position-relative-sm w-100p">
              <%= render "enquiries/form" , enquiry: @enquiry %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-blue-3 py-10em py-2em-sm">
    <div class="container">
      <h1 class="text-style-5 fs-50 fs-35-sm">Partner Categories</h1>
      <div class="mt-50 mt-30-sm">
        <div class="row">
          <div class="col-md-4 col-12">
            <div class="text-center-sm">
              <div class="partner-h4">
                <img src="images/home/tech-cat-1.png" alt="tech-1" class="w-40p" loading="lazy">
              </div>
              <div class="mt-30 mt-20-sm">
                <div class="text-style-3 fs-16 fs-14-sm white">
                  Products that have completed a self-compliance exercise against MOSIP’s specifications.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 mt-30-sm">
            <div class="text-center-sm">
              <div class="partner-h4">
                <img src="images/home/tech-cat-2.png" alt="tech-2" class="w-40p" loading="lazy">
              </div>
              <div class="mt-30 mt-20-sm">
                <div class="text-style-3 fs-16 fs-14-sm white">
                  A product or solution that has demonstrated the ability to work with MOSIP systems.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 mt-30-sm">
            <div class="text-center-sm">
              <div class="partner-h4">
                <img src="images/home/tech-cat-3.png" alt="tech-3" class="w-40p" loading="lazy">
              </div>
              <div class="mt-30 mt-20-sm">
                <div class="text-style-3 fs-16 fs-14-sm white">
                  SI entities that have completed training and capacity-building exercises through the MOSIP Partner Programme.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-image-4 bg-img-style-1">
    <div class="container">
      <div class="mt-50 mt-30-sm">
        <h3 class="text-style-5 grey-2 fs-50 fs-35-sm">
          Initatives for <br>
          Technology Partners
        </h3>
        <div class="mt-50 mt-30-sm">
          <div class="row">
            <div class="col-md-4">
              <div class="br-20 box-shadow-1">
                <div class="bg-blue-2 p-30 br-style-1">
                  <div class="w-25p">
                    <img src="images/partner/Report.png" class="w-100p">
                  </div>
                  <div class="mt-15 partner-h1">
                    <div class="yellow-2 text-style-1 lh-normal">
                      MOSIP Partner <br> Programme
                    </div>
                  </div>
                  <div class="mt-15 partner-h2">
                    <div class="text-style-3 fs-16 fs-14-sm white">
                      A training and capacity-building programme for System Integrators, initiated to help stakeholders connect with MOSIP,
                      and become part of a cohesive ecosystem.
                    </div>
                  </div>
                </div>
                <div class="bg-blue-3 p-style-1 br-style-2">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="text-style-4 fs-16">
                        Download PDF
                      </div>
                      <div class="ml-2">
                        <img src="images/partner/partner-download.png" class="w-100p" alt="download-btn">
                      </div>
                    </div>
                    <div class="text-style-5 fs-50 lh-normal">
                      01.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-30-sm">
              <div class="br-20 box-shadow-1">
                <div class="bg-blue-2 p-30 br-style-1">
                  <div class="w-25p">
                    <img src="images/partner/Report.png" class="w-100p">
                  </div>
                  <div class="mt-15 partner-h1">
                    <div class="yellow-2 text-style-1 lh-normal">
                      MOSIP Advanced Compliance Programme (MACP)
                    </div>
                  </div>
                  <div class="mt-15 partner-h2">
                    <div class="text-style-3 fs-16 fs-14-sm white">
                      A partnership between MOSIP and multiple labs to 
                      certify compliant biometric devices and solutions
                    </div>
                  </div>
                </div>
                <div class="bg-blue-3 p-style-1 br-style-2">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="text-style-4 fs-16">
                        Download PDF
                      </div>
                      <div class="ml-2">
                        <img src="images/partner/partner-download.png" class="w-100p" alt="download-btn">
                      </div>
                    </div>
                    <div class="text-style-5 fs-50 lh-normal">
                      02.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-30-sm">
              <div class="br-20 box-shadow-1">
                <div class="bg-blue-2 p-30 br-style-1">
                  <div class="w-25p">
                    <img src="images/partner/Report.png" class="w-100p">
                  </div>
                  <div class="mt-15 partner-h1">
                    <div class="yellow-2 text-style-1 lh-normal">
                      Compliance <br>
                      Exercise
                    </div>
                  </div>
                  <div class="mt-15 partner-h2">
                    <div class="text-style-3 fs-16 fs-14-sm white">
                      An assisted compliance programme for technology partners to
                       ensure compliance against MOSIP’s standard specifications.
                    </div>
                  </div>
                </div>
                <div class="bg-blue-3 p-style-1 br-style-2">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="text-style-4 fs-16">
                        Download PDF
                      </div>
                      <div class="ml-2">
                        <img src="images/partner/partner-download.png" class="w-100p" alt="download-btn">
                      </div>
                    </div>
                    <div class="text-style-5 fs-50 lh-normal">
                      03.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-50 mt-30-sm py-50 py-30-sm">
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-style-5 grey-2 fs-35-sm">
              Benefits
            </h3>
          </div>
          <div class="col-md-6">
            <div class="text-style-4 black fs-18 fs-14-sm">
              Partnering with MOSIP opens the door to a comprehensive array of benefits, offering a collaborative journey
              towards innovation and growth.
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <div class="mt-50 mt-30-sm ml-50">
    <div class="owl-carousel partners-carousel">
      <div class="item mr-50">
        <div class="br-20 bg-blue-2 p-style-2">
          <div class="text-style-1 fs-18-sm white">
            Build on MOSIP
          </div>
          <div class="mt-30 mt-10-sm partner-h3">
            <div class="d-flex align-items-center">
              <div class="dot-style-1">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2">
                Access to MOSIP Engineers and
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="dot-style-1">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2">
                Community
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="dot-style-1">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2">
                Tailor-made training
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="dot-style-1">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2">
                Programmes
              </div>
            </div>
          </div>
          <div class="d-none-sm position-4">
            <img src="images/partner/partner-owl-1.png" class="w-100p position-absolute-md" alt="partner-owl-img">
          </div>
        </div>
      </div>
      <div class="item mr-50">
        <div class="br-20 bg-green p-style-2">
          <div class="text-style-1 fs-18-sm white">
            Enhance Visibility
          </div>
          <div class="mt-30 mt-10-sm partner-h3">
            <div class="d-flex align-items-center">
              <div class="dot-style-1">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2">
                Showcase Solutions
  
              </div>
            </div>
            <div class="ml-3">
              <div class="text-style-4 fs-14-sm">
                - Marketplace
              </div>
              <div class="text-style-4 fs-14-sm">
                - Experience Centres
              </div>
              <div class="text-style-4 fs-14-sm">
                - Mosip Communication Channels
              </div>
              <div class="text-style-4 fs-14-sm">
                - PR/Marketing
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="dot-style-1">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2">
                Participate in Pilots
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="dot-style-1">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2">
                Workshops and Webinars
              </div>
            </div>
          </div>
          <div class="d-none-sm position-4 d-flex justify-content-center">
            <img src="images/partner/partner-owl-2.png" class="w-60p position-absolute-md" alt="partner-owl-img">
          </div>
        </div>
      </div>
      <div class="item mr-50">
        <div class="br-20 bg-yellow p-style-2">
          <div class="text-style-1 fs-18-sm black">
            Enhance Visibility
          </div>
          <div class="mt-30 mt-10-sm partner-h3">
            <div class="d-flex align-items-center">
              <div class="dot-style-1 bg-black">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2 black">
                Code Contribution
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="dot-style-1 bg-black">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2 black">
                Help define the roadmap
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="dot-style-1 bg-black">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2 black">
                Create standards (ieee/QR code for example)
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="dot-style-1 bg-black">
  
              </div>
              <div class="text-style-4 fs-14-sm ml-2 black">
                Participate in PoCs and evaluation programmes
              </div>
            </div>
          </div>
          <div class="d-none-sm position-4 d-flex justify-content-center">
            <img src="images/partner/partner-owl-3.png" class="w-40p position-absolute-md"
              alt="partner-owl-img">
          </div>
        </div>
      </div>
    </div>
  
  </div>

  <section class="py-50 py-30-sm">
    <div class="container">
      <div class="text-center">
        <div class="mt-10em mt-20-sm">
          <div class="bg-style-6">
            <div class="-mt-12p">
              <img class="w-80p" src="images/partner/partner-ybg.png" alt="home-img-4" loading="lazy">
            </div>
            <div class="mt-30">
              <p class="text-style-4 black fs-12-sm w-80p m-auto">
                <span class="blue-4 font-italic">MOSIP technology</span> is developed with the understanding that
                technology solutions cannot be static. The support team at MOSIP offers concerted capacity-building to ensure that, over
                a period of time,
                country partners are equipped to adapt and modify their national ID technology in a way that can be dynamic to changing
                environments.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render "shared/footer" %>