<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Manufacturers</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="<%= admin_dashboard_path %>">Dashboard</a></li>
                    <li class="breadcrumb-item active">Manufacturers</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header p-0 pt-1">
                        <!-- Add any additional tabs or header content if needed -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <a href="<%= new_admin_manufacturer_path %>" class="btn btn-primary mr-3">
                                        <i class="fa fa-plus">&nbsp;</i>Create Manufacturer
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-9">
                              <div class="row">

                                <div class="col-sm-9">
                                    <div class="mb-3 input-group" style="justify-content: end;">
                                      <div class="mb-4">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#excel-options" aria-expanded="false" aria-controls="excel-options">
                                            Excel Options
                                          </button>
                                        </div>

                                        <div id="excel-options" class="collapse mt-2" style="max-width: 400px;">
                                          <div class="btn-group-vertical">
                                            <%= link_to 'Download Sample Excel', download_sample_excel_admin_manufacturers_path, class: 'btn btn-outline-primary mb-3' %>

                                            <%= form_with url: upload_excel_admin_manufacturers_path, method: :post, local: false, html: { id: 'upload-excel-form', multipart: true, class: 'd-flex flex-column' } do %>
                                              <div class="input-group mb-3">
                                                <input type="file" name="file" id="file" class="form-control" style="flex: 1; max-width: 300px;">
                                                <div class="input-group-append">
                                                  <%= submit_tag "Upload Excel", class: 'btn btn-outline-primary' %>
                                                </div>
                                              </div>
                                            <% end %>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="mb-3 input-group" style="justify-content: end;">
                                    <%= form_tag(admin_manufacturers_path, method: :get, class: 'd-flex justify-content-end') do %>
                                        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search Manufacturers', title: "Search by Manufacturer Name" %>
                                        <%= submit_tag 'Search', class: 'btn btn-primary btn-height ml-2' %>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                                
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="manufacturers_table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email One</th>
                                        <th>Phone One</th>
                                        <th>website_link</th>
                                        <th>Description</th>
                                        <th>Image</th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @manufacturers.each do |admin_manufacturer| %>
                                        <tr>
                                            <td><%= admin_manufacturer.name %></td>
                                            <td><%= truncate(admin_manufacturer.email_one, length: 10, omission: '...') %></td>
                                            <td><%= admin_manufacturer.phone_one %></td>
                                            <td><%= truncate(admin_manufacturer.website_link, length: 10, omission: '...') %></td>
                                            <td><%= truncate(admin_manufacturer.desc, length: 50, omission: '...') %></td>

                                            <% if admin_manufacturer.image_data.present? %>
                                              <td><%= image_tag admin_manufacturer.image_url, style: "max-width: 50px; max-height: 50px;" %></td>
                                            <% else %>
                                              <td></td>
                                            <% end %>
                                            <td>
                                                <%= link_to admin_manufacturer_path(admin_manufacturer), class: 'btn btn-success' do %>
                                                    <i class="fa fa-eye"></i>
                                                <% end %>
                                                <%= link_to edit_admin_manufacturer_path(admin_manufacturer), class: 'btn btn-primary' do %>
                                                    <i class="fa fa-edit"></i>
                                                <% end %>
                                                <button class="btn btn-danger delete-manufacturer" data-id="<%= admin_manufacturer.id %>">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete Manufacturer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><b>NOTE:</b> Once you delete this record, it will be permanently removed from the system and will no longer be visible on this screen.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger confirm-delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        let manufacturerId;

        // Show delete confirmation modal
        $('.delete-manufacturer').click(function () {
            manufacturerId = $(this).data('id');
            $('#deleteModel').modal('show');
        });

        // Confirm delete action
        $('.confirm-delete').click(function () {
            $('#deleteModel').modal('hide');
            var csrfToken = $('meta[name=csrf-token]').attr('content');

            $.ajax({
                url: '/admin/manufacturers/' + manufacturerId,
                headers: {
                    'X-CSRF-Token': csrfToken
                },
                method: 'DELETE',
                success: function() {
                    // Refresh the page after successful deletion
                    location.reload();
                },
                error: function() {
                    alert('An error occurred while trying to delete the manufacturer.');
                }
            });
        });

        $(document).on('submit', '#upload-excel-form', function(e) {
          e.preventDefault();
          
          var formData = new FormData(this);

          $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
              alert('File uploaded successfully');
              // You can also add code here to update the UI after a successful upload.
            },
            error: function(response) {
              alert('There was an error uploading the file.');
            }
          });
        });

    });
</script>
