<%= form_with(model: [:admin, partner], local: true, html: { class: 'form-horizontal' }) do |form| %>
    <% if partner.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(partner.errors.count, "error") %> prohibited this partner from being saved:</h2>
            <ul>
                <% partner.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="card-body">
        <!-- Name -->
        <div class="form-group row">
            <%= form.label :name, class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= form.text_field :name, class: 'form-control', placeholder: "Enter name" %>
            </div>
        </div>

        <!-- Position -->
        <div class="form-group row">
            <%= form.label :position, class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= form.number_field :position, class: 'form-control', placeholder: "Enter position" %>
            </div>
        </div>

        <!-- URL -->
        <div class="form-group row">
            <%= form.label :url, class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= form.url_field :url, class: 'form-control', placeholder: "Enter URL" %>
            </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
            <%= form.label :desc, class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= form.text_area :desc, class: 'form-control', placeholder: "Enter description", rows: 3 %>
            </div>
        </div>

        <!-- Partner Category -->
        <div class="form-group row">
            <%= form.label :partner_category_id, 'Partner Category', class: 'col-sm-2 col-form-label' %>
            <div class="col-sm-10">
                <%= form.collection_select :partner_category_id, PartnerCategory.all, :id, :name, { prompt: 'Select Partner Category' }, class: 'form-control' %>
            </div>
        </div>

        <!-- Image -->
        <div class="form-group row">
          <%= form.label :image, "Image", class: 'col-sm-2 col-form-label' %>
          <div class="card-body">
          <div class="custom-file">
            <%= form.file_field :image, class: 'custom-file-input', id: 'exampleInputFile', onchange: 'updateFileName(this)' %>
            <label class="custom-file-label" for="exampleInputFile" id="fileInputLabel">Choose file</label>
          </div>
        </div>
    </div>

    <div class="card-footer">
        <%= form.submit class: 'btn btn-primary' %>
        <a href="<%= admin_partners_path %>" class="btn btn-default">Back</a>
    </div>
<% end %>

<script>
    // Update the label text with the selected file name
    document.querySelector('.custom-file-input').addEventListener('change', function(e) {
        const fileName = e.target.files[0].name;
        e.target.nextElementSibling.innerText = fileName;
    });

   
</script>
