<div id="<%= dom_id si_partnership %>">
  <p>
    <strong>Name:</strong>
    <%= si_partnership.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= si_partnership.desc %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= si_partnership.code %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= si_partnership.status %>
  </p>

</div>
