<%= form_with(model: partner) do |form| %>
  <% if partner.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
        <% partner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :desc, style: "display: block" %>
    <%= form.text_area :desc %>
  </div>

  <div>
    <%= form.label :image_data, style: "display: block" %>
    <%= form.text_area :image_data %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.number_field :position %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_area :url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
