<div id="<%= dom_id partner %>">
  <p>
    <strong>Name:</strong>
    <%= partner.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= partner.desc %>
  </p>

  <p>
    <strong>Image data:</strong>
    <%= partner.image_data %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= partner.position %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= partner.url %>
  </p>

</div>
