<%= render "shared/header" %>

<section class="mt-50 mt-80-sm">
  <div class="container">
    <div class="partner-tab">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="mosip-compliant-tab" data-toggle="tab" href="#mosip-compliant" role="tab" aria-controls="mosip-compliant" aria-selected="true">MOSIP Compliant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mosip-integrated-tab" data-toggle="tab" href="#mosip-integrated" role="tab" aria-controls="mosip-integrated" aria-selected="false">MOSIP Integrated</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mosip-si-partner-tab" data-toggle="tab" href="#mosip-si-partner" role="tab" aria-controls="mosip-si-partner" aria-selected="false">MOSIP SI Partner</a>
        </li>
      </ul>

      <div class="tab-content mt-20" id="myTabContent">
        <!-- MOSIP Compliant Tab -->
        <div class="tab-pane fade show active" id="mosip-compliant" role="tabpanel" aria-labelledby="mosip-compliant-tab">
          <div class="row">
            <% @mosip_compliant_products.each do |product| %>
              <% if product.manufacturer.website_link.present? %>
                <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
                  <div class="m-auto">
                    <%= link_to product.manufacturer.website_link, target: "_blank" do %>
                      <% if product.manufacturer.image_url.present? %>
                        <%= image_tag product.manufacturer.image_url, class: "w-80p" %>
                      <% else %>
                        <%= product.manufacturer.name %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- MOSIP Integrated Tab -->
        <div class="tab-pane fade" id="mosip-integrated" role="tabpanel" aria-labelledby="mosip-integrated-tab">
          <div class="row">
            <% @mosip_integrated_products.each do |product| %>
              <% if product.manufacturer.website_link.present? %>
                <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
                  <div class="m-auto">
                    <%= link_to product.manufacturer.website_link, target: "_blank" do %>
                      <% if product.manufacturer.image_url.present? %>
                        <%= image_tag product.manufacturer.image_url, class: "w-80p" %>
                      <% else %>
                        <%= product.manufacturer.name %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- MOSIP SI Partner Tab -->
        <div class="tab-pane fade" id="mosip-si-partner" role="tabpanel" aria-labelledby="mosip-si-partner-tab">
          <div class="row">
            <% @mosip_si_partners.each do |si_partner| %>
              <% if si_partner.website_link.present? %>
                <div class="col-lg-3 col-sm-4 col-4 mt-30 mt-15-sm">
                  <div class="m-auto">
                    <%= link_to si_partner.website_link, target: "_blank" do %>
                      <% if si_partner.image_url.present? %>
                        <%= image_tag si_partner.image_url, class: "w-80p" %>
                      <% else %>
                        <%= si_partner.name %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
