<h1>New Enquiry Received</h1>
<p>
  You have received a new enquiry from <%= @name %>.<br>
  Email: <%= @email %><br>
  Designation: <%= @designation %><br>
  Organisation: <%= @organisation %><br>
  Category: <%= @type %><br>
  Subject: <%= @subject %><br>
  Enquiry question: <%= @question %>
</p>
