<section class="d-block-lg d-none-md d-none-sm position-2">
  <nav class="navbar navbar-expand-lg navbar-light p-3">
    <div class="container-fluid">
      <div class="container-set-2 p-0-lg">
        <div class="d-flex align-items-center">
          <div class="w-200 zoom">
            <a href="" class="navbar-brand" id="logo">  
              <img src="/images/header/marketplace-logo.png" class="w-100" />
            </a>
          </div>
          <div class="ml-auto">
            <ul class="nav navbar-nav zoom">

              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(root_path) %>" href="<%= root_path%>">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">SOLUTIONS</a>
              </li>

              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Solutions
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="<%= products_path(category_code: 'registration-devices') %>">Registration Devices</a>
                  <a class="dropdown-item" href="<%= products_path(category_code: 'authentication-devices') %>">Authentication Devices</a>
                  <a class="dropdown-item" href="<%= products_path(category_code: 'abis') %>">Abis</a>
                  <a class="dropdown-item" href="<%= products_path(category_code: 'sdk') %>">Biometric SDK</a>
                </div>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" href="">LIST YOUR SOLUTIONS</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="">CONTACT US</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-search"></i></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>

<section class="d-none-lg d-block-md d-block-sm">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top d-flex">
    <a href="" class="navbar-brand w-15p-md w-35p-sm">  
      <img src="/images/header/marketplace-logo.png" class="w-100" />
    </a>
    <button type="button" class="navbar-toggler" aria-label="navbar-toggler-icon" data-toggle="collapse"
      data-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About Marketplace</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Solutions
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">item 1</a>
            <a class="dropdown-item" href="">item 1</a>
            <a class="dropdown-item" href="">item 1</a>
            <a class="dropdown-item" href="">item 1</a>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="">MOSIP Partners</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="">Partners With Us</a>
        </li>
      </ul>
    </div>
  </nav>
</section>  

<style>

  .navbar.nav-link {
    border: 1px solid transparent;
    transition: border-color 0.3s;
    /* Add a smooth transition for the border color */
  }

  .navbar .nav-link:hover {
    /* border-color: #b7b7b7; */
    border-radius: 8px;
    color: #014DAF !important;
  }

  .navbar .nav-link:focus {
    /* border-color: #b7b7b7; */
    border-radius: 8px;
    color: #014DAF !important;
  }

  .navbar .nav-link.active {
    color: #014DAF !important;
  }

  .navbar .dropdown-item {
    color: #ffffff !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }

  .navbar .dropdown-item:hover {
    background: rgba(255, 255, 255, 0.25) !important;
    color: #ffffff !important;
  }

  .navbar .nav-link {
    color: #999797 !important;
  }
  /* Change the border color to red on hover */

  .navbar .container-fluid {
    display: block;
  }

  .navbar .dropdown:hover ul.dropdown-menu {
    display: block !important;
  }

  .navbar .dropdown-menu {
    /* display: none !important; */
    /* padding: 10px; */
    border: 1px solid var(--Stroke, rgba(0, 0, 0, 0.10));
    background: #01A2FD;
    border-radius: 8px;
    /* top: 80% !important; */
  }

  .navbar .dropdown-menu li {
    margin-top: 10px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .navbar ul li {
      font-size: 12px !important;
    }
  }

  @media (max-width: 768px) {
    .navbar-toggler:focus {
      outline: none;
      /* Remove the outline when the button is focused */
    }

    .navbar ul {
      float: left !important;
    }

    .navbar-nav .nav-link {
      padding-left: 10px;
    }

    .navbar ul li {
      padding-left: 0px !important;
    }

    .navbar ul {
      align-items: baseline !important;
    }

  }

  .navbar {
    /* display: block !important; */
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    float: right;
    align-items: center;
  }

  .navbar ul li {
    padding-left: 24px;
    /* color: #000000 !important; */
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  .navbar-toggler {
    padding: 0 !important;
    border: none !important;
  }

  .navbar-toggler-icon {
    background-image: url('/images/footer/hamber.png') !important;
    height: 1em !important;
    width: 1.5em !important;
  }

  /* Style the dropdown arrow */



  .nav-item.dropdown .dropdown-toggle::after {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    content: "";
    /* vertical-align: middle; */
    border: .3em solid;
    border-width: 0 .15em .15em 0;
    transform: rotateZ(45deg);
    transition: transform 0.2s ease-in-out;
  }

  /* Rotate the arrow when the dropdown is open */
  .nav-item.dropdown.show .dropdown-toggle::after {
    transform: rotate(225deg);
    vertical-align: middle;
  }


  #logo {
    width: 90%;
    /* Set the initial size of the icon */
    transition: width 0.3s, height 0.3s;
    /* Add a smooth transition */
  }
</style>

<script>


  // Get the logo element
  const icon = document.getElementById('logo');

  // Define a flag to track whether the logo size has already been reduced
  let logoReduced = false;

  window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;

    if (scrollY > 0 && !logoReduced) {
      // Set the new size for the icon when scrolling starts
      icon.style.width = '60%'; // Adjust the size as needed
      logoReduced = true; // Set the flag to true to avoid repeated size changes
    } else if (scrollY === 0 && logoReduced) {
      // Restore the original size when scrolling returns to the top
      icon.style.width = '90%'; // Restore the original size
      logoReduced = false; // Reset the flag
    }
  });

</script>