<%= form_with(model: product_specification_version) do |form| %>
  <% if product_specification_version.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product_specification_version.errors.count, "error") %> prohibited this product_specification_version from being saved:</h2>

      <ul>
        <% product_specification_version.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :desc, style: "display: block" %>
    <%= form.text_area :desc %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
