<div id="<%= dom_id product_specification_version %>">
  <p>
    <strong>Name:</strong>
    <%= product_specification_version.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= product_specification_version.desc %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product_specification_version.code %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product_specification_version.status %>
  </p>

</div>
