<div id="<%= dom_id product_ftm_certification %>">
  <p>
    <strong>Name:</strong>
    <%= product_ftm_certification.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= product_ftm_certification.desc %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product_ftm_certification.code %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product_ftm_certification.status %>
  </p>

</div>
