<p style="color: green"><%= notice %></p>

<%= render @product_ftm_certification %>

<div>
  <%= link_to "Edit this product ftm certification", edit_product_ftm_certification_path(@product_ftm_certification) %> |
  <%= link_to "Back to product ftm certifications", product_ftm_certifications_path %>

  <%= button_to "Destroy this product ftm certification", @product_ftm_certification, method: :delete %>
</div>
