<div id="<%= dom_id product_image %>">
  <p>
    <strong>Image data:</strong>
    <%= product_image.image_data %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= product_image.position %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product_image.status %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product_image.product_id %>
  </p>

</div>
