<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Enquiry Details</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= admin_dashboard_path %>">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="<%= admin_enquiries_path %>">Enquiries</a></li>
          <li class="breadcrumb-item active">Details</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="mb-4">
          <a href="<%= admin_enquiries_path %>" class="btn btn-primary">Back to Enquiries</a>
          <a href="<%= edit_admin_enquiry_path(@enquiry) %>" class="btn btn-primary mr-3">
            <i class="fa fa-edit">&nbsp;</i>Edit Enquiry
          </a>
        </div>
        <div class="card card-primary">
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Name</th>
                  <td><%= @enquiry.name %></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%= @enquiry.email %></td>
                </tr>
                <tr>
                  <th>Subject</th>
                  <td><%= @enquiry.subject %></td>
                </tr>
                <tr>
                  <th>Organisation</th>
                  <td><%= @enquiry.organisation %></td>
                </tr>
                <tr>
                  <th>Enquiry Type</th>
                  <td><%= @enquiry.enquiry_type %></td>
                </tr>
                <tr>
                  <th>Question</th>
                  <td><%= @enquiry.question %></td>
                </tr>
                <tr>
                  <th>Designation</th>
                  <td><%= @enquiry.designation %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
