<%= render "shared/header" %>

  <div class="zoom">

    <section class="bg-image-3 bg-img-style-1 mt-60-sm">
      <div class="py-50 py-30-sm">
        <div class="container">
          <div class="row align-items-center h-60vh">
            <div class="col-lg-5 col-md-5">
              <h1 class="text-style-5 black fs-70 fs-35-sm lh-1">MOSIP, Our <br>
                Solutions</h1>
              <div class="mt-10">
                <p class="text-style-4 fs-16 fs-14-sm grey-1 pr-80-sm">
                  Discover ready-to-use<br>
                  technology solutions for your<br>
                  national ID systems.
                </p>
              </div>
              <div class="mt-40 mt-30-sm">
                <%= link_to 'EXPLORE SOLUTIONS' , categories_path, class: 'btn btn-style-2 fs-14' %>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 mt-15-sm">
              <div class="">
                <img src="images/solution/solution-banner.png" alt="solution-banner" class="w-100p" loading="lazy">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-50 py-30-sm">
        <div class="container">
          <h1 class="text-style-2 fw-300 fs-80 fs-35-sm">Explore Solutions</h1>
          <div class="mt-50 mt-30-sm">
            <div class="row">
              <div class="col-md-7">
                <p class="text-style-4 fs-16 grey-1 pr-5">
                  Explore MOSIP’s extensive and nurtured technology ecosystem – from biometric devices to deduplication
                  software, and
                  digital wallets – categorised by compliance, certifications, biometric modalities, and more.
                </p>
              </div>
              <div class="col-md-5">
        
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row solution-card">
            <div class="col-md-3 mt-50">
              <a href="<%= products_path(category_code: 'registration-devices') %>" class="d-block">
                <div class="bg-blue-2 br-30 p-30"> 
                  <div class="text-style-2 text-center fs-25 fs-22-sm white lh-1 solutions-1">
                    Registration Devices
                  </div>
                  <div class="w-60p w-35p-sm m-auto position-relative top-70">
                    <img class="w-100" src="images/solution/solu-1.png" alt="solution-1">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3 mt-50">
              <a href="<%= products_path(category_code: 'authentication-devices') %>" class="d-block">
                <div class="bg-blue-4 br-30 p-30">
                  <div class="text-style-2 text-center fs-25 fs-22-sm white lh-1 solutions-1">
                    Authentication Devices
                  </div>
                  <div class="w-60p w-35p-sm m-auto position-relative top-70">
                    <img class="w-100" src="images/solution/solu-2.png" alt="solution-2">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3 mt-50">
              <a href="<%= products_path(category_code: 'abis') %>" class="d-block">
                <div class="bg-yellow br-30 p-30">
                  <div class="text-style-2 text-center fs-25 fs-22-sm black lh-1 solutions-1">
                    ABIS
                  </div>
                  <div class="w-60p w-35p-sm m-auto position-relative top-70">
                    <img class="w-100" src="images/solution/solu-3.png" alt="solution-3">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3 mt-50">
              <a href="<%= products_path(category_code: 'sdk') %>" class="d-block">
                <div class="bg-orange br-30 p-30">
                  <div class="text-style-2 text-center fs-25 fs-22-sm white lh-1 solutions-1">
                    Biometric SDK
                  </div>
                  <div class="w-60p w-35p-sm m-auto position-relative top-70">
                    <img class="w-100" src="images/solution/solu-4.png" alt="solution-4">
                  </div>
                </div>
              </a>
            </div>

            <!-- <div class="col-md-3 mt-50 mt-30-sm">
              <div class="bg-blue-4 br-30 p-30">
                <div class="text-style-2 text-center fs-25 white lh-1 solutions-1">
                  System Integrators
                </div>
                <div class="w-60p m-auto position-relative top-70">
                  <img class="w-100" src="images/solution/solu-7.png" alt="solution-1">
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-50 mt-30-sm">
              <div class="bg-blue-2 br-30 p-30">
                <div class="text-style-2 text-center fs-25 white lh-1 solutions-1">
                  Print
                  Solutions
                </div>
                <div class="w-60p m-auto position-relative top-70">
                  <img class="w-100" src="images/solution/solu-6.png" alt="solution-1">
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-50 mt-30-sm">
              <div class="bg-orange br-30 p-30">
                <div class="text-style-2 text-center fs-25 white lh-1 solutions-1">
                  Digital Credentails & wallets
                </div>
                <div class="w-60p m-auto position-relative top-70">
                  <img class="w-100" src="images/solution/solu-5.png" alt="solution-1">
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <section class="py-50 py-30-sm">
      <div class="image-marquee">
        <% Partner.all.sample(20).each do |p| %>
          <img src=<%= p.image_url%> alt="home-partner">
        <% end %>
      </div>
      <!-- <div class="text-center">
        <div class="mt-50 mt-30-sm">
          <a href="<%= partner_categories_path %>" class="blue-4 text-style-1 text-decor-none" aria-label="All Solutions" title="All Solutions">
            <div class="d-flex align-items-center border-bottom-1 w-fit m-auto">
              <div class="fs-25 blue-4 text-style-1 fs-22-sm">All Partners</div>
              <div class="ml-3">
                <img class="" width="15" src="images/home/home-arrow.png" alt="arrow">
              </div>
            </div>
          </a>
        </div>
      </div> -->
    </section>
  </div>

  <%= render "shared/footer" %>