<%= render "shared/header" %>

<%= render "shared/breadcrumbs" %>


  <section class="mt-50 mt-20-sm container zoom">
    <div class="row">



    
      <div class="col-lg-6 col-md-12">
        <div class="border-grey-1 br-60 br-30-sm">
          <div class="bg-style-1">
            <div class="h-400px h-200px-sm">
              <% if @product.product_images.active.order(:position).first.present? %>
                <img id="main-product-image" src="<%= @product.product_images.active.order(:position).first.image_url%>" alt="product-1" class="w-100 h-100 br-60 br-30-sm object-contain">
              <% else %>
                <img id="main-product-image" src="public/images/meeting_default.png" alt="product-1" class="w-100 h-100 br-60 br-30-sm object-contain">
              <% end %>
            </div>
          </div>
          <div class="bg-style-2">
            <div class="d-flex align-items-center justify-content-end">

              <% if @product.mosip_compliance.present? %>
                <% if MosipComplianceStatus.find_by_code(@product.mosip_compliance.parameterize()).present? && MosipComplianceStatus.find_by_code(@product.mosip_compliance.parameterize()).image_url %>
                  <div class="w-80px h-30px ml-3">
                    <img src="<%= MosipComplianceStatus.find_by_code(@product.mosip_compliance.parameterize()).image_url %>" alt="compliant-a" class="w-100 object-contain">
                  </div>
                <% end %>
              <% end %>

              <% if @product.mosip_integration.present? %>
                <% if MosipComplianceStatus.find_by_code(@product.mosip_integration.parameterize()).present? && MosipComplianceStatus.find_by_code(@product.mosip_integration.parameterize()).image_url %>
                  <div class="w-80px h-30px ml-3">
                    <img src="<%= MosipComplianceStatus.find_by_code(@product.mosip_integration.parameterize()).image_url %>" alt="compliant-a" class="w-100 object-contain">
                  </div>
                <% end %>
              <% end %>
              

              
            </div>
          </div>
        </div>
        <div class="mt-30 mt-15-sm">
          <div class="d-flex justify-content-center">
            <% @product.product_images.active.order(:position).each do |img| %>
              <div class="bg-style-3 mx-20 mx-5-sm cursor-1">
                <div class="w-80px h-70px">
                  <img src="<%= img.image_url%>" alt="product-1" class="thumbnail w-100 h-100 br-10 object-contain">
                </div>
              </div>
            <% end %>
            
          </div>
        </div>
      </div>




      <div class="col-lg-6 col-md-12">
        <div class="mt-20">
          <div class="text-style-1 fs-18-sm"><%= @product.manufacturer.name %></div>
          <div class="mt-10 text-style-2 fs-24-sm"><%= @product.name %></div>
          <div class="mt-10 text-style-3 fs-12-sm"><%= @product.short_description.html_safe %></div>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div id="accordion" class="accordion-1">
      <!-- First Accordion -->
      <div class="mt-50 mt-20-sm">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Details
                <i class="fas fa-chevron-down"></i>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <table class="table table-striped">
                <% if @product.category.code == "registration-devices" %>
                  <% if @product.manufacturer.name.present? %>
                    <tr>
                      <td>Manufacturer</td>
                      <td>:</td>
                      <td><%= @product.manufacturer.name %></td>
                    </tr>
                  <% end %>

                  <% if @product.model.present? %>
                    <tr>
                      <td>Model</td>
                      <td>:</td>
                      <td><%= @product.model %></td>
                    </tr>
                  <% end %>

                  <% if @product.supported_biometric_modalities.present? %>
                    <tr>
                      <td>Supported Biometric Modalities</td>
                      <td>:</td>
                      <td><%= @product.supported_biometric_modalities.split(',').map(&:strip).join('<br>').html_safe %></td>
                    </tr>
                  <% end %>

                  <% if @product.additional_components.present? %>
                    <tr>
                      <td>Additional Components</td>
                      <td>:</td>
                      <td><%= @product.additional_components.split(',').map(&:strip).join('<br>').html_safe %></td>
                    </tr>
                  <% end %>

                  <% if @product.mosip_compliance.present? %>
                    <tr>
                      <td>Status of MOSIP-Compliance</td>
                      <td>:</td>
                      <td><%= @product.mosip_compliance %></td>
                    </tr>
                  <% end %>

                  <% if @product.macp_certification_link.present? %>
                    <tr>
                      <td>MACP Certification Link</td>
                      <td>:</td>
                      <td>
                        <a href="<%= @product.macp_certification_link %>" class="blue-1">Link to certification</a>
                      </td>
                    </tr>
                  <% end %>

                  <% if @product.sbi_version.present? %>
                    <tr>
                      <td>SBI Version</td>
                      <td>:</td>
                      <td><%= @product.sbi_version.split(',').map(&:strip).join('<br>').html_safe %></td>
                    </tr>
                  <% end %>

                  <% if @product.global_certifications.present? %>
                    <tr>
                      <td>Global Certifications</td>
                      <td>:</td>
                      <td><%= @product.global_certifications.split(',').map(&:strip).join('<br>').html_safe %></td>
                    </tr>
                  <% end %>

                  <% if @product.full_specifications.present? %>
                    <tr>
                      <td>Full Specifications</td>
                      <td>:</td>
                      <td>
                        <a href="<%= @product.full_specifications %>" class="blue-1">Link to specifications PDF</a>
                      </td>
                    </tr>
                  <% end %>

                <% elsif @product.category.code == "authentication-devices" %>
                  <% if @product.manufacturer.name.present? %>
                    <tr>
                      <td>Manufacturer</td>
                      <td>:</td>
                      <td><%= @product.manufacturer.name %></td>
                    </tr>
                  <% end %>

                  <% if @product.model.present? %>
                    <tr>
                      <td>Model</td>
                      <td>:</td>
                      <td><%= @product.model %></td>
                    </tr>
                  <% end %>

                  <% if @product.supported_biometric_modalities.present? %>
                    <tr>
                      <td>Supported Biometric Modalities</td>
                      <td>:</td>
                      <td><%= @product.supported_biometric_modalities %></td>
                    </tr>
                  <% end %>

                  <% if @product.mosip_compliance.present? %>
                    <tr>
                      <td>Status of MOSIP-Compliance</td>
                      <td>:</td>
                      <td><%= @product.mosip_compliance %></td>
                    </tr>
                  <% end %>

                  <% if @product.macp_certification_link.present? %>
                    <tr>
                      <td>MACP Certification Link</td>
                      <td>:</td>
                      <td>
                        <a href="<%= @product.macp_certification_link %>" class="blue-1">Link to certification</a>
                      </td>
                    </tr>
                  <% end %>

                  <% if @product.sbi_version.present? %>
                    <tr>
                      <td>SBI Version</td>
                      <td>:</td>
                      <td><%= @product.sbi_version %></td>
                    </tr>
                  <% end %>

                  <% if @product.ftm_certification.present? %>
                    <tr>
                      <td>FTM Certification</td>
                      <td>:</td>
                      <td><%= @product.ftm_certification %></td>
                    </tr>
                  <% end %>

                  <% if @product.ftm_chip_make_and_model.present? %>
                    <tr>
                      <td>FTM Chip Make and Model</td>
                      <td>:</td>
                      <td><%= @product.ftm_chip_make_and_model %></td>
                    </tr>
                  <% end %>

                  <% if @product.firmware_version.present? %>
                    <tr>
                      <td>Firmware Version</td>
                      <td>:</td>
                      <td><%= @product.firmware_version %></td>
                    </tr>
                  <% end %>

                  <% if @product.global_certifications.present? %>
                    <tr>
                      <td>Global Certifications</td>
                      <td>:</td>
                      <td><%= @product.global_certifications %></td>
                    </tr>
                  <% end %>

                  <% if @product.full_specifications.present? %>
                    <tr>
                      <td>Full Specifications</td>
                      <td>:</td>
                      <td>
                        <a href="<%= @product.full_specifications %>" class="blue-1">Link to specifications PDF</a>
                      </td>
                    </tr>
                  <% end %>

                <% elsif @product.category.code == "abis" %>
                  <% if @product.manufacturer_id.present? %>
                    <tr>
                      <td>Manufacturer</td>
                      <td>:</td>
                      <td><%= @product.manufacturer_id %></td>
                    </tr>
                  <% end %>

                  <% if @product.name.present? %>
                    <tr>
                      <td>Product Name</td>
                      <td>:</td>
                      <td><%= @product.name %></td>
                    </tr>
                  <% end %>

                  <% if @product.supported_biometric_modalities.present? %>
                    <tr>
                      <td>Supported Biometric Modalities</td>
                      <td>:</td>
                      <td><%= @product.supported_biometric_modalities %></td>
                    </tr>
                  <% end %>

                  <% if @product.mosip_compliance.present? %>
                    <tr>
                      <td>Status of MOSIP-Compliance</td>
                      <td>:</td>
                      <td><%= @product.mosip_compliance %></td>
                    </tr>
                  <% end %>

                  <% if @product.software_version.present? %>
                    <tr>
                      <td>Software Version</td>
                      <td>:</td>
                      <td><%= @product.software_version %></td>
                    </tr>
                  <% end %>

                  <% if @product.full_specifications.present? %>
                    <tr>
                      <td>Full Specifications</td>
                      <td>:</td>
                      <td>
                        <a href="<%= @product.full_specifications %>" class="blue-1">Link to specifications PDF</a>
                      </td>
                    </tr>
                  <% end %>

                <% elsif @product.category.code == "sdk" %>
                  <% if @product.manufacturer_id.present? %>
                    <tr>
                      <td>Manufacturer</td>
                      <td>:</td>
                      <td><%= @product.manufacturer_id %></td>
                    </tr>
                  <% end %>

                  <% if @product.name.present? %>
                    <tr>
                      <td>Product Name</td>
                      <td>:</td>
                      <td><%= @product.name %></td>
                    </tr>
                  <% end %>

                  <% if @product.supported_biometric_modalities.present? %>
                    <tr>
                      <td>Supported Biometric Modalities</td>
                      <td>:</td>
                      <td><%= @product.supported_biometric_modalities %></td>
                    </tr>
                  <% end %>

                  <% if @product.usage.present? %>
                    <tr>
                      <td>Usage</td>
                      <td>:</td>
                      <td><%= @product.usage %></td>
                    </tr>
                  <% end %>

                  <% if @product.mosip_compliance.present? %>
                    <tr>
                      <td>Status of MOSIP-Compliance</td>
                      <td>:</td>
                      <td><%= @product.mosip_compliance %></td>
                    </tr>
                  <% end %>

                  <% if @product.software_version.present? %>
                    <tr>
                      <td>Software Version</td>
                      <td>:</td>
                      <td><%= @product.software_version %></td>
                    </tr>
                  <% end %>

                  <% if @product.full_specifications.present? %>
                    <tr>
                      <td>Full Specifications</td>
                      <td>:</td>
                      <td>
                        <a href="<%= @product.full_specifications %>" class="blue-1">Link to specifications PDF</a>
                      </td>
                    </tr>
                  <% end %>
                <% end %>

              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Second Accordion -->
      <% if @product.additional_feature.present? %>
        <div class="">
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Additional Feature
                  <i class="fas fa-chevron-down"></i>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse show second-accor" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <%= @product.additional_feature.html_safe %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="bg-grey-1 my-30 py-30 my-20-sm py-20-sm">
    <div class="container">
      <div>
        <h2 class="text-style-2 fs-24-sm">About <span class="blue-1"><%= @product.manufacturer.name %></span></h2>
      </div>
      <div class="mt-30 mt-15-sm">
        <div class="text-style-3 fs-12-sm">
          <%= @product.manufacturer.desc %>
        </div>
      </div>
      <div class="mt-30 mt-15-sm">
        <div class="text-style-3 black fs-12-sm">Visit <a href="<%= @product.manufacturer.website_link %>" target="_blank"><span class="blue-1"><%= @product.manufacturer.website_link %></span></a> to know more!</div>
      </div>
      <div class="mt-30 mt-15-sm">
        <div class="bg-blue-style text-center">
          <div class="text-style-2 yellow fs-24-sm">
            Contact with Us
          </div>
          <div class="mt-30 mt-15-sm">
            <div class="row">
              <div class="col-lg-4 col-md-12 mt-20-md">
                <div>
                  <img src="/images/product/con-envelope.png" width="25" height="25" alt="con-envelope">
                </div>
                <div class="mt-30 mt-15-sm">
                  <a href="mailto:">
                    <h5 class="text-style-4 fs-14-sm">
                      <%= @product.manufacturer.email_one %>
                    </h5>
                  </a>
                  <a href="mailto:">
                    <h5 class="text-style-4 fs-14-sm">
                      <%= @product.manufacturer.email_two %>
                    </h5>
                  </a>
                  <a href="mailto:">
                    <h5 class="text-style-4 fs-14-sm">
                      <%= @product.manufacturer.email_three %>
                    </h5>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 mt-20-md mt-20-sm">
                <div>
                  <img src="/images/product/con-phone-call.png" width="25" height="25" alt="con-envelope">
                </div>
                <div class="mt-30 mt-15-sm">
                  <a href="tell:+91 7565272827">
                    <h5 class="text-style-4 fs-14-sm">
                      <%= @product.manufacturer.phone_one %>
                    </h5>
                  </a>
                  <a href="tell:+91 7565272827">
                    <h5 class="text-style-4 fs-14-sm">
                      <%= @product.manufacturer.phone_two %>
                    </h5>
                  </a>
                  <a href="tell:+91 7565272827">
                    <h5 class="text-style-4 fs-14-sm">
                      <%= @product.manufacturer.phone_three %>
                    </h5>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 mt-20-md mt-20-sm">
                <div>
                  <img src="/images/product/con-marker.png" width="25" height="25" alt="con-envelope">
                </div>
                <div class="mt-30 mt-15-sm">
                  <div class="text-style-4 fs-14-sm">
                    <%= @product.manufacturer.address %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<style>
  
</style>

<script>
  

    

</script>