<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-1 mb-1 d-flex">
    <%# <div class="image">
      <img src="/assets/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>   %>
    <div class="info mx-auto">
      <% if user_signed_in? %>
        <span style="color: white;"><%= current_user.email %></span>
      <% end %>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library -->

      <li class="nav-item">
        <a href="<%= admin_dashboard_path %>" class="nav-link <% if controller.controller_name == 'dashboard' %> active <% end %>">
          <i class="fas fa-solid fa-vr-cardboard"></i>
          <p style="padding:5px;">Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= admin_categories_path %>" class="nav-link <% if controller.controller_name == 'categories' %> active <% end %>">
          <i class="fas fa-solid fa-layer-group"></i>
          <p style="padding:5px;">Category</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= admin_manufacturers_path %>" class="nav-link <% if controller.controller_name == 'manufacturers' %> active <% end %>">
          <i class="fas fa-solid fa-cogs"></i>
          <p style="padding:5px;">Manufacturer</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="<%= admin_product_ftm_certifications_path %>" class="nav-link <% if controller.controller_name == 'ftm_certifications' %> active <% end %>">
          <i class="fas fa-solid fa-certificate"></i>
          <p style="padding:5px;">FTM Certification</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="<%= admin_product_specification_versions_path %>" class="nav-link <% if controller.controller_name == 'ftm_certifications' %> active <% end %>">
          <i class="fas fa-solid fa-key"></i>
          <p style="padding:5px;">Specification Version</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="<%= admin_products_path %>" class="nav-link <% if controller.controller_name == 'products' %> active <% end %>">
          <i class="fas fa-solid fa-store"></i>
          <p style="padding:5px;">Products</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="<%= admin_partner_categories_path %>" class="nav-link <% if controller.controller_name == 'partner_categories' %> active <% end %>">
          <i class="fas fa-solid fa-hat-cowboy-side"></i>
          <p style="padding:5px;">Partner Category</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="<%= admin_partners_path %>" class="nav-link <% if controller.controller_name == 'partners' %> active <% end %>">
          <i class="fas fa-solid fa-handshake"></i>
          <p style="padding:5px;">Partners</p>
        </a>
      </li>

      

      <%# Category list demo %>
      <%# <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Example <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item">
            <a href="./index.html" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard v1</p>
            </a>
          </li>
        </ul>
      </li> %>

    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->