<div id="<%= dom_id manufacturer %>">
  <p>
    <strong>Name:</strong>
    <%= manufacturer.name %>
  </p>

  <p>
    <strong>Email one:</strong>
    <%= manufacturer.email_one %>
  </p>

  <p>
    <strong>Email two:</strong>
    <%= manufacturer.email_two %>
  </p>

  <p>
    <strong>Email three:</strong>
    <%= manufacturer.email_three %>
  </p>

  <p>
    <strong>Phone one:</strong>
    <%= manufacturer.phone_one %>
  </p>

  <p>
    <strong>Phone two:</strong>
    <%= manufacturer.phone_two %>
  </p>

  <p>
    <strong>Phone three:</strong>
    <%= manufacturer.phone_three %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= manufacturer.address %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= manufacturer.desc %>
  </p>

  <p>
    <strong>Website link:</strong>
    <%= manufacturer.website_link %>
  </p>

  <p>
    <strong>Image data:</strong>
    <%= manufacturer.image_data %>
  </p>

</div>
