<div id="<%= dom_id system_integrator %>">
  <p>
    <strong>Name:</strong>
    <%= system_integrator.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= system_integrator.desc %>
  </p>

  <p>
    <strong>Image data:</strong>
    <%= system_integrator.image_data %>
  </p>

  <p>
    <strong>Partnership validity:</strong>
    <%= system_integrator.partnership_validity %>
  </p>

  <p>
    <strong>Si partnership:</strong>
    <%= system_integrator.si_partnership_id %>
  </p>

</div>
