<%= render "shared/header" %>

<section class="mt-50 mt-20-sm zoom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="border-grey-1 br-20 br-30-sm">
          <div class="bg-style-1">
            <div class="h-400px h-200px-sm">
              <% if @system_integrator.image_data.present? %>
                <img id="main-system-integrator-image" src="<%= @system_integrator.image_url %>" alt="system-integrator" class="w-100 h-100 br-20 br-30-sm object-contain">
              <% else %>
                <img id="main-system-integrator-image" src="/images/meeting_default.png" alt="system-integrator" class="w-100 h-100 br-20 br-30-sm object-contain">
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="mt-20">
          <div class="text-style-1 fs-18-sm"><%= @system_integrator.name %></div>
          <div class="mt-10 text-style-2 fs-24-sm"><%= @system_integrator.partnership_validity %></div>
          <% if @system_integrator.desc.present? %>
            <div class="mt-10 text-style-3 fs-12-sm"><%= @system_integrator.desc.html_safe %></div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-grey-1 my-30 py-30 my-20-sm py-20-sm">
  <div class="container">
    <% if @system_integrator.si_partnership.present? %>
      <div>
        <h2 class="text-style-2 fs-24-sm">About <span class="blue-1"><%= @system_integrator.si_partnership.name %></span></h2>
      </div>

      <% if @system_integrator.si_partnership.desc.present? %>
        <div class="mt-30 mt-15-sm">
          <div class="text-style-3 fs-12-sm">
            <%= @system_integrator.si_partnership.desc.html_safe %>
          </div>
        </div>
      <% end %>

      <% if @system_integrator.si_partnership.website_link.present? %>
        <div class="mt-30 mt-15-sm">
          <div class="text-style-3 black fs-12-sm">Visit <a href="<%= @system_integrator.si_partnership.website_link %>" target="_blank"><span class="blue-1"><%= @system_integrator.si_partnership.website_link %></span></a> to know more!</div>
        </div>
      <% end %>

      <div class="mt-30 mt-15-sm">
        <div class="bg-blue-style text-center">
          <div class="text-style-2 yellow fs-24-sm">
            Contact with Us
          </div>
          <div class="mt-30 mt-15-sm">
            <div class="row">
              <% if @system_integrator.si_partnership.email_one.present? || @system_integrator.si_partnership.email_two.present? || @system_integrator.si_partnership.email_three.present? %>
                <div class="col-lg-4 col-md-12 mt-20-md">
                  <div>
                    <img src="/images/product/con-envelope.png" width="25" height="25" alt="con-envelope">
                  </div>
                  <div class="mt-30 mt-15-sm">
                    <% if @system_integrator.si_partnership.email_one.present? %>
                      <a href="mailto:<%= @system_integrator.si_partnership.email_one %>">
                        <h5 class="text-style-4 fs-14-sm"><%= @system_integrator.si_partnership.email_one %></h5>
                      </a>
                    <% end %>
                    <% if @system_integrator.si_partnership.email_two.present? %>
                      <a href="mailto:<%= @system_integrator.si_partnership.email_two %>">
                        <h5 class="text-style-4 fs-14-sm"><%= @system_integrator.si_partnership.email_two %></h5>
                      </a>
                    <% end %>
                    <% if @system_integrator.si_partnership.email_three.present? %>
                      <a href="mailto:<%= @system_integrator.si_partnership.email_three %>">
                        <h5 class="text-style-4 fs-14-sm"><%= @system_integrator.si_partnership.email_three %></h5>
                      </a>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <% if @system_integrator.si_partnership.phone_one.present? || @system_integrator.si_partnership.phone_two.present? || @system_integrator.si_partnership.phone_three.present? %>
                <div class="col-lg-4 col-md-12 mt-20-md">
                  <div>
                    <img src="/images/product/con-phone-call.png" width="25" height="25" alt="con-phone-call">
                  </div>
                  <div class="mt-30 mt-15-sm">
                    <% if @system_integrator.si_partnership.phone_one.present? %>
                      <a href="tel:<%= @system_integrator.si_partnership.phone_one %>">
                        <h5 class="text-style-4 fs-14-sm"><%= @system_integrator.si_partnership.phone_one %></h5>
                      </a>
                    <% end %>
                    <% if @system_integrator.si_partnership.phone_two.present? %>
                      <a href="tel:<%= @system_integrator.si_partnership.phone_two %>">
                        <h5 class="text-style-4 fs-14-sm"><%= @system_integrator.si_partnership.phone_two %></h5>
                      </a>
                    <% end %>
                    <% if @system_integrator.si_partnership.phone_three.present? %>
                      <a href="tel:<%= @system_integrator.si_partnership.phone_three %>">
                        <h5 class="text-style-4 fs-14-sm"><%= @system_integrator.si_partnership.phone_three %></h5>
                      </a>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <% if @system_integrator.si_partnership.address1.present? || @system_integrator.si_partnership.address2.present? || @system_integrator.si_partnership.address3.present? %>
                <div class="col-lg-4 col-md-12 mt-20-md">
                  <div>
                    <img src="/images/product/con-marker.png" width="25" height="25" alt="con-marker">
                  </div>
                  <div class="mt-30 mt-15-sm">
                    <div class="text-style-4 fs-14-sm">
                      <% if @system_integrator.si_partnership.address1.present? %>
                        <%= @system_integrator.si_partnership.address1 %> <br/>
                      <% end %>
                      <% if @system_integrator.si_partnership.address2.present? %>
                        <%= @system_integrator.si_partnership.address2 %> <br/>
                      <% end %>
                      <% if @system_integrator.si_partnership.address3.present? %>
                        <%= @system_integrator.si_partnership.address3 %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

